@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
* {
  font-family: "Montserrat";
  color: white;
  font-size: 1.5vw;
}

body {
  background: url(../img/board.jpg) no-repeat center center fixed;
  background-size: cover;
  width: 100vw;
  overflow: hidden;
}

main {
  position: relative;
  height: 100vh;
  width: 100vw;
}

main .splash-screen {
  position: absolute;
  background: url(../img/gwent-image.jpg) no-repeat center center fixed;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

main .splash-screen button {
  position: absolute;
  left: 50%;
  top: 85%;
  -webkit-transform: translate(-50%, -85%);
          transform: translate(-50%, -85%);
  background: rgba(0, 0, 0, 0.75);
  border: none;
  padding: 1.5%;
  font-size: 2vw;
  cursor: pointer;
}

main .your-score {
  position: absolute;
  left: 90%;
  top: 54.5%;
  -webkit-transform: translate(-90%, -54.5%);
          transform: translate(-90%, -54.5%);
  height: 5vw;
  width: 15vw;
}

main .opponent-score {
  position: absolute;
  left: 90%;
  top: 36%;
  -webkit-transform: translate(-90%, -36%);
          transform: translate(-90%, -36%);
  height: 5vw;
  width: 15vw;
}

main .your-card {
  position: absolute;
  z-index: 3;
  top: 100%;
  left: 7.5%;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 25vw;
  width: 20vw;
  -webkit-transition: top .25s ease-out, opacity .25s ease-out;
  transition: top .25s ease-out, opacity .25s ease-out;
}

main .your-card img {
  height: 100%;
  position: relative;
  z-index: 10;
}

main .hand-row {
  position: absolute;
  left: 25%;
  top: 97.5%;
  -webkit-transform: translate(-25%, -97.5%);
          transform: translate(-25%, -97.5%);
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  height: 6.6vw;
  width: 66vw;
}

main .hand-row img {
  height: 95%;
  padding: 0 0.5%;
}

main .hand-row img:hover {
  -webkit-transition: -webkit-transform .25s;
  transition: -webkit-transform .25s;
  transition: transform .25s;
  transition: transform .25s, -webkit-transform .25s;
  -webkit-transform: translateY(-100%) scale(3);
          transform: translateY(-100%) scale(3);
  cursor: pointer;
}

main .your-field {
  position: absolute;
  left: 25%;
  top: 70%;
  -webkit-transform: translate(-25%, -70%);
          transform: translate(-25%, -70%);
}

main .your-field div.close-row {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

main .your-field div.ranged-row {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

main .their-field {
  position: absolute;
  left: 25%;
  top: 7.5%;
  -webkit-transform: translate(-25%, -7.5%);
          transform: translate(-25%, -7.5%);
}

main .their-field div.siege-row {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

main .their-field div.ranged-row {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

main .your-field, main .their-field {
  height: 18vw;
  width: 66vw;
}

main .your-field div, main .their-field div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  height: 33%;
  width: 100%;
  position: relative;
}

main .your-field div.close-row, main .their-field div.close-row {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

main .your-field div.ranged-row, main .their-field div.ranged-row {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

main .your-field div img, main .their-field div img {
  height: 95%;
  padding: 0 0.5%;
}

main .your-field div img:hover, main .their-field div img:hover {
  -webkit-transform: scale(3);
          transform: scale(3);
  -webkit-transition: -webkit-transform .25s;
  transition: -webkit-transform .25s;
  transition: transform .25s;
  transition: transform .25s, -webkit-transform .25s;
  cursor: pointer;
}

main .your-field div .close-score, main .your-field div .ranged-score, main .your-field div .siege-score, main .their-field div .close-score, main .their-field div .ranged-score, main .their-field div .siege-score {
  position: absolute;
  left: 98%;
  top: 50%;
  -webkit-transform: translate(-98%, -50%);
          transform: translate(-98%, -50%);
  padding: 0 2%;
}
/*# sourceMappingURL=gwent.css.map */